*{
    box-sizing: border-box;
    background-color: beige;
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
}
#container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
div{
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    margin: .25rem ;
}
div img{
    display: block;
}